#IDE's 
.cproject
.project
language.settings.xml
.settings/org.eclipse.cdt.core.prefs
.settings/org.eclipse.cdt.managedbuilder.core.prefs

#VS Code
settings.json
launch.json
tasks.json

#Executables
*.exe
/Default/
/my-config/
